@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

body {
    background-color:#B3A7B7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: 700;
    color: #6E5678;
}

.menu{
    float: right;
}


.light-bg {
    background-color:#B3A7B7;
}

.footer-bg {
    background-color:#B3A7B7;
    color:white;
}

.main-bg {
    background-color: #fff;
}

.list-box {
    border: none;
    background-color: transparent;
    border:#6E5678 1px solid;
    border-radius: 20px;
}

.post-box {
    width:80%;
    padding: 10px;
    margin:auto;
}

.post-box-content {
    border: none;
    text-align: center;
}

.comment-content {
    border: none;
}

.image-container {
    position: relative;
}

.blur-img {
    filter: blur(5px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.image-flash {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-weight: 200;
}

.post-date {
    color: black;
    font-weight: 400;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    height: 33vh;
    width:80%;
    padding: 10px;
    margin:auto;
}


.masthead-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.post-link {
    text-decoration: none;
    color:#F9FAFC;
}

.post-link:hover,
.page-link {
    color:#B3A7B7;
}

.post-title {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
    color: #6E5678;
    margin-top: 20px;
}

.post-subtitle {
    margin-right: 10%;
    color:#B3A7B7;
    text-align: right;
}

.btn-signup {
    background-color:#6E5678;
    color: #fff;
    margin-top: 10px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color:#B3A7B7;
    color:#fff;
}

.link {
    color: #B3A7B7;
    text-decoration: none;
}


.link:hover,
.link:active {
    color:#B3A7B7;
    text-decoration: underline;
}

.btn-like {
    color: #8E4576;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #8E4576;
    background: transparent;
    border: none;
}

.social-link {
    color: white;
    font-size: 25px;
    margin-top:5px;
    padding: 5px;
}

/* Account styles */
.logout-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* home page */
.intro-msg {
    text-align: center;
    margin:40px 20px 20px 20px;
    line-height: 30px;
}

.home-link {
    height: 50px;
    width: 100px;
    text-decoration: none;
    align-items: center;
    margin:20px;
    padding: 10px;
    border-color: none;
    border-radius: 20px;
}