@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

body {
    background-color:#B3A7B7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: 700;
    color: #6E5678;
}

/*Logo media queries*/
@media screen and (max-width: 400px) {
    .logo {
        font-size: 35px;
    }
}

/* .menu{
    float: right;
} */


.light-bg {
    background-color:#F2EDF5;
}

.footer-bg {
    background-color:#6E5678;
    color:white;
}

.main-bg {
    background-color: #fff;
    margin: 3em auto;
    width: 100%;
}

/*poems post styles*/

.list-box {
    border: none;
    background-color: transparent;
    border:#6E5678 1px solid;
    border-radius: 20px;
    height: 300px;
    width:auto;
    margin: 30px;
}

.image-container {
    height: 240px;
    width: auto;
    object-fit: scale-down;
}

.blur-img {
    filter: blur(5px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.image-flash {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-weight: 200;
}

.post-date {
    color: black;
    font-weight: 400;
    margin-top: 10px;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    height: 33vh;
    width:80%;
    padding: 10px;
    margin:auto;
}


.masthead-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-box {
    width:80%;
    padding: 10px;
    margin:auto;
}

.post-box-content {
    border: none;
    text-align: center;
}

.comment-content {
    border: none;
}

.page-link {
    border-color: #393939;
    color:#393939;
}

.page-link:hover {
    color:#393939;
    background-color:#e9e1ec;
    border-color: #393939;
}

.post-link {
    text-decoration: none;
    color:#F9FAFC;
}

.post-link:hover {
    color:#e9e1ec;
}

.post-title {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
    color: #6E5678;
    margin-top: 20px;
}

.post-subtitle {
    margin-right: 10%;
    color:#B3A7B7;
    text-align: right;
}

.btn-signup {
    background-color:#6E5678;
    color: #fff;
    margin-top: 10px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color:#513e58;
    color:#fff;
}

.link {
    color: #B3A7B7;
    text-decoration: none;
}


.link:hover,
.link:active {
    color:#B3A7B7;
    text-decoration: none;
}

.btn-like {
    color: #8E4576;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #8E4576;
    background: transparent;
    border: none;
}

.social-link {
    color: white;
    font-size: 25px;
    margin-top:5px;
    padding: 5px;
}

.social-link:hover {
    color:#F9F871;
}

/* Account styles */
.logout-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa-user {
    color:#393939;
    font-size: 40px;
    padding: 10px;
}

.fa-user:hover {
    color:#6E5678;
}

.nav-link {
    color:#393939;
}

.nav-link:hover {
    color:#6E5678;
}

/*Media queries for navbar*/
@media screen and (max-width: 400px) {
    .fa-user {
        color:#393939;
        font-size: 20px;
        padding: 5px;
    }

    .nav-link {
        margin: 0;
        padding:0;
        float: right;
    }

    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
    }
}

.profile-item {
    list-style: none;
    text-align: center;
    margin: 20px;
}

.profile-item-link {
    width: 60%;
    background-color:#393939;
    color: white;
}

.profile-item-link:hover {
    background-color: #6E5678;
}

/* home page */
.intro-msg, .profile {
    text-align: center;
    margin:7em 20px 20px 20px;
    line-height: 30px;
}

.btn-link {
    text-decoration: none;
    color:white;
    margin: 20px;
    height: 50px;
    width: 150px;
    border-color: none;
    border-radius: 20px;
    align-items: center;
}

.btn-link:hover {
    color:white;
    background-color:#513e58;
}

#msg {
    margin-top: 50px;
}

/*signup page*/

.signup-container {
    border: #6E5678 2px solid;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    line-height: 30px;
    width: 60%;
}

.title {
    color:#6E5678;
}

.signin-input {
    border:#393939;
    border-radius: 20px;
}

/* logout modal */
.close {
    background-color: transparent;
    border: none;
}

.fa-times {
    border: none;
    color: white;
    background-color: transparent;
}

.fa-times:hover {
    color:#F9F871;
    font-size: larger;
}

.logout-modal, .delete-modal {
    background-color:#393939;
    color:white;
}

/*Publish poem form*/

.post-form-container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    line-height: 30px;
}

/*Manage poems page*/

.my-poems-container {
    margin: 70px 20px 20px 20px;
    width: 80%;
    display: block;
}

.my-list {
    margin-top: 30px;
    border: #393939 1px solid;
}

.status {
    background-color:#393939;
    color:white;
}

.list-title {
    color:#6E5678;
    text-decoration: none;
}

.fa-check {
    color:#b3f971;
    margin-left: 10px;
}

.published {
    text-decoration: none;
    color:#6E5678;
}

.published:hover {
    color:#8E4576;
}

.my-poem-date {
    font-size: smaller;
    color:#393939;
}