{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row intro-msg">

        <p>Poem is all about rhythm, harmony and soul.</p>
        <p>Find yourself in one of them or share one of yours with us!</p>
        <p>Welcome to Harmonic Poems!</p>

    </div>
    <div class="d-flex justify-content-center">
        <a class="home-link" href="{% url 'poem_list' %}"><button class="btn btn-signup btn-lg">POEMS</button></a>
        <a class="home-link" href="#"><button class="btn btn-signup btn-lg">LOGIN</button></a>
    </div>
</div>
{%endblock%}