{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags%}

<div class="container-fluid">

    {% if published %}
    <div class="alert alert-success msg" role="alert">
        Your Poem is awaiting approval
    </div>
    {% endif %}

    <h3>Publish your poem</h3>
    <p>Publishing as: {{ user.username }}</p>
    <form method="post">
        {{ poem_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
    </form>
    
   
</div>
{%endblock%}